language: python
python:
  - "3.5"
  - "3.6"
before_install:
  - sudo add-apt-repository -y ppa:mc3man/trusty-media
  - sudo apt-get -qq update
  - sudo apt-get install -y ffmpeg
install:
  - pip install pipenv
  - pipenv install --dev --skip-lock
script:
  - pipenv run pytest
